*{
    padding:10px; 
    margin:0; 
    box-sizing: border-box; 
    --color1:#F2F2F2; 
    --color2:#BFBFBF;
    --color3:#8C8C8C;
    --color4:#404040;
    --color5:#0D0D0D;
    --color6:#FDFDFD;
    --color7:#e6dede;
}

#contenedor{
    width: 75%; 
    margin:20px auto; 
    background-color: var(--color6);
    color: var(--color5);
}


#cabecera{
    display: flex; 
    align-items: center; 
    flex-wrap: wrap;
    align-items: center; 
    padding:10px; 
    justify-content: space-between;
}

#menu{
    align-items: center;
    font-family: "Inconsolata", monospace; 
}

#menu a{
    text-decoration: none;
    color: var(--color4);
}


#menu>ul{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.gps{
    display: flex;
    align-items: center;
    margin: 10px;
}


.pagina{
    color:var(--color4);
    text-decoration: underline;
    font-family:"Concert One", sans-serif;
}


#sesion{
    border: 2px solid var(--color5);
    padding: 5px;
    width: 180px;
    border-radius: 20px;
}


#registro{
    border: 2px solid var(--color5);
    background-color: var(--color5);
    color: var(--color6);
    padding: 5px;
    width: 110px;
    border-radius: 20px;
}

hr{
    border-left:var(--color6);
    border-right:var(--color6);
    border-top: var(--color6);
    border-bottom: 2px solid var(--color3);
}

#indice{
    background-color: var(--color7);
    text-decoration:underline;
    border:1px solid var(--color2);

}

#contenido{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-family: "Barlow", sans-serif;
}

#menú{
    width: 20%;
    margin: 10px;
    border: 1.5px solid var(--color3);
    padding: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#seccion{
    width: 80%;
    margin: 5px ;
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
    flex-wrap: wrap;
    align-items: center; 
    padding:10px; 
    border: 1.5px solid var(--color3);
}

#encabezado{
    display: flex; 
    flex-wrap: wrap;
    text-align: left;
    flex-direction: column;
    padding:10px; 
}

#nota{
    justify-content: space-evenly;
    display: flex; 
    align-items: center; 
    flex-wrap: wrap;
    align-items: center; 
    padding:10px; 
}


#primera, .segunda{
    display: flex;
    justify-content: space-between;
}


.album{
    display: flex;
    align-items: center;
    margin: 10px;
}



.imagen{
    float: left;
    height: 204px;
    width: 204x;
    border-radius: 100px;
}

#segundo{
    color:var(--color5);
    font-family: "Bree Serif", serif;
    align-items: center;
    font-family: "Inconsolata", monospace; 
}
#segundo>ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    padding:5px;
}

#pie{
    color:var(--color5);
}
#fotos{
    display: flex;
    font-family: "Bree Serif", serif;
    justify-content: space-between;
}

